<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.wecodeyou.board.repository.IArticleMapper">

   <resultMap id="ArticleMap" type="com.it.wecodeyou.board.model.ArticleVO">
      <id property="articleNo" column="article_no" />
      <result property="articleTitle" column="article_title" />
      <result property="articleContent" column="article_content" />
      <result property="articleBoardNo" column="article_board_title" />
      <result property="articleClicks" column="article_clicks" />
      <result property="articleLikes" column="article_likes" />
      <result property="articleWriter" column="article_writer" />
      <result property="articleCreatedAt" column="article_created_at" />
      <result property="articleModifiedAt" column="article_modified_at" />
   </resultMap>
   
   <insert id="insert">
   		INSERT
   		INTO article
   		(article_title, article_content, article_board_no, article_writer)
   		VALUES
   		(#{articleTitle}, #{articleContent}, #{articleBoardNo}, #{articleWriter})
   </insert>
   
   <update id="update">
   		UPDATE
   		board
   		SET article_title = #{articleTitle}, article_content = #{articleContent}
   </update>
   
   <delete id="delete">
      DELETE FROM article WHERE article_no=#{articleNo}
   </delete>
   
   <select id="list" resultMap="ArticleMap">
   		SELECT * 
   		FROM article
   		WHERE article_board_no = #{boardTitle}
   </select>

   <select id="getAllByWriter" resultMap="ArticleMap">
   		SELECT * 
   		FROM article
   		WHERE article_writer = #{articleWriter}
   </select>
  
   <select id="getAllByKeyword" resultMap="ArticleMap">
   		SELECT * 
   		FROM article
   		WHERE article_title LIKE CONCAT(‘%’, #{articleTitle}, ‘%’)
   </select>
   <select id="getOneInfo" resultMap="ArticleMap">
   		SELECT *
   		FROM article
   		WHERE article_no = #{articleNo}
   </select>
<!--    LIKE절 DBMS별
   # MySql
SELECT * FROM TABLE_NAME
WHERE COLUMN_NAME LIKE CONCAT(‘%’, #{searchKeyword}, ‘%’)

# ORACLE
SELECT * FROM TABLE_NAME
WHERE COLUMN_NAME LIKE '%'||#searchKeyword#||'%' 

# Ms-Sql
SELECT * FROM TABLE_NAME
WHERE COLUMN_NAME LIKE '%' + #searchKeyword# + '%' -->

</mapper>