<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.wecodeyou.on.repository.IOnMapper">

	<resultMap id="OnMap" type="com.it.wecodeyou.on.model.OnVO">
		<id property="onNo" column="on_no" />
		<result property="onAuthor" column="on_author" />
		<result property="onCategory" column="on_category" />
		<result property="onProductNo" column="on_product_no" />
		<result property="onUploadUri" column="on_upload_uri" />
		<result property="onDays" column="on_days" />
	</resultMap>

	<insert id="insert">

		INSERT INTO on_course
		(on_author, on_category, on_product_no, on_upload_uri, on_days)
		VALUES
		(#{onAuthor}, #{onCategory}, #{onProductNo}, #{onUploadUri}, #{onDays})


	</insert>


	<select id = "getAuthor" resultType = "String" parameterType = "int">
		select user_name
		from user
		where user_email = (select on_author 
							from on_course 
                   			 where on_product_no = #{productNo})

	</select>

	<select id="getOne" resultMap = "OnMap">
	
		select * 
		from on_course
		where on_product_no = (select product_no 
								from product 
								where product_no = #{productNo});
	
	</select>


	<select id = "getDays" resultType = "int">
			select timestampdiff(day, now(),
				(select date_add((SELECT purchase_date
								from purchase
								where purchase_buyer = #{purchaseBuyer} 
								AND purchase_pro_no = #{purchaseProNo}
								AND purchase_seat_no is null
								AND purchase_isrefund = 0),INTERVAL 
									(select on_days 
									from on_course 
									where on_product_no = #{purchaseProNo}) DAY))); 
	
	</select>



</mapper>