@charset "UTF-8";



.footer {text-align: center; padding: 30px 50px; margin:0 auto;} 
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li:before {content: ''; width: 1px; height: 12px; background-color: #dbdbdb; position: absolute; left: 0; top: 2px;}
.footer li:first-child:before {width: 0;}
.footer address {padding-top: 15px;}

.footer li a:hover{
	color: #8a0000;
}