@charset "UTF-8";


table, th, td {
	border: 1px solid #bcbcbc;
}

table {
	width: 80%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

table .article_th {
	height:40px;
	background-color:#DBD9D9;/*gray*/
}

table .article_tr {
	height:50px;
}

table .article_no_td {
	width:5%;
}

table .article_title_td {
	width:30%;
	text-align:left;
}

table .article_writer_td {
	width:8%;
}

table .article_clicks_td {
	width:5%;
}

table .article_likes_td {
	width:5%;
}

table .article_created_td {
	width:15%;
	font-size:small;
}

table .article_modified_td {
	width:15%;
	font-size:small;
}

.tag {
	display:block;
}

.title_link {
	text-decoration: none;
	color:black;
	display:block;
	height:100%;
}

a:hover { text-decoration: none;}


.hashtag {
	font-size:70%;
}

.page_ul {
	text-align:center;
	margin-top:10px;
}

.page_li {
	display:inline;
	background-color: white;
	margin:5px;
	padding:5px;
}

.page_link {

}

/*순규님*/
header.masthead {
	
	display: none;
}	
.btn-orange {
	background-color: orange;
	color: white;
	font-size:80%;
}
.btn-izone {
	background-color: #B9E5EA;
	color: white;
	font-size:80%;
}

.page-active {
	background-color: #B9E5EA;
	font-size:80%;
}

.form-control {
	font-size:80%;
}
