@charset "UTF-8";

table {
	width: 80%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}


.tag {
	display:block;
}

.title_link {
	text-decoration: none;
	color:black;
	display:block;
	height:100%;
}

a:hover { text-decoration: none;}

.page_ul {
	text-align:center;
	margin-top:10px;
}

.page_li {
	font-size:15px;
	display:inline;
	background-color: white;
	margin:9px;
	padding:8px;
	
}

.page_link {
	color: #313D55;
}

/*순규님*/
header.masthead {
	
	display: none;
}	
.btn-orange {
	background-color: orange;
	color: white;
	font-size:80%;
}
/* .btn-izone {
	background-color: #B9E5EA;
	color: white;
	font-size:80%;
}
 */
.page-active {
	color: #3A73FB;
	font-size:100%;
	font-weight: bold;
}

.form-control {
	font-size:80%;
}
