@charset "UTF-8";

.btnTag {
	margin: 5px;
	background-color: light-blue;
	opacity: 0.7;
	border: 0px;
}

.override {
    padding: 0px 0px 0px 0px !important;
    margin: 5px !important;
/*     margin-block-start: 0em !important;
    margin-block-end: 0em !important; */
}

#resultList li {
	list-style-type: none;
  	background-color: white;
  	width: 100px;
  	padding: 0px 4px 4px 4px;
  	margin: 2px;
  	display:inline;
}

#resultList li:hover,
#resultList li.--focus {
  	background: #e4e0ff;
  	cursor: pointer;
}

a {
  color: #3d6cec;
  font-family: helvetica;
  font-size: 90%; 
  text-decoration: none;
  /* text-transform: uppercase; */
}